@using RecruitingPortal.Models

@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<br /><br /><br />

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 col-center-block">
        <div class="rsSignInCard center-block">
            <h3> Sign In</h3>
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            <p><em>OR</em></p>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "User Name(Email)" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })


                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-xs-12 text-right">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>

                <input type="submit" value="Log in" class="btn rsBtnDefault" />
                @*<button class="btn rsBtnDefault">
                        Sign in
                    </button>*@
                <a href="~/Account/Register" class="pull-left rsSignUp">Sign Up</a>
                <a href="@Url.Action("ForgotPassword", "Account")" class="pull-right">Forgot Password</a>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}