@model RecruitingPortal.Models.ChartViewModel
@{
    var divName = ViewData["partialPageDiv"] != null ? ViewData["partialPageDiv"].ToString() : "divJobPostStatistics";
}

<div id="@divName" style="width: 100%; height: 100%;"></div>

<script type="text/javascript">
    var title = '@Model.Title';
    var subtitle = '@Model.Subtitle';

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(function () {

        dataTable = new google.visualization.DataTable(
            @Html.Raw(Json.Encode(Model.DataTable))
        );
        
        var options = {
            // title: title,
            legend: { position: 'none' },
            // colors: ['#097658', '#834718', '#44AB49', '#6fbd44', '9fdb40'],
            backgroundColor: { fill: ['transparent'] },
            chartArea: { top: '5px', width: '75%', height: '60%' },
            width: '100%',
            height: '100%',
            hAxis: {
                textStyle: { fontSize: 13, fontName: 'Open Sans'}
            },
            vAxis: {
                textStyle: { fontSize: 13, fontName: 'Open Sans' }
            },
            series: {
                0: { color: '#4A63C1' }
            },
            // tooltip: {textStyle: {fontName: 'Open Sans', fontSize: 8}}
        };

        //var chart = new google.visualization.ColumnChart(document.getElementById(elementId));
        var chart = new google.visualization.ColumnChart(document.getElementById('@divName'));

        // ref: https://developers.google.com/chart/interactive/docs/basic_interactivity
        // The select handler. Call the chart's getSelection() method
        // function selectHandler() {
        //     var selectedItem = chart.getSelection()[0];
        //     if (selectedItem) {
        //       var value = dataTable.getValue(selectedItem.row, 0);
        //       if(value.indexOf("Credit") > -1){ // Credit Card
        //
        //       }
        //     }
        // }

        // Listen for the 'select' event, and call my function selectHandler() when
        // the user selects something on the chart.
        // google.visualization.events.addListener(chart, 'select', selectHandler);

        chart.draw(dataTable, options);

        $(window).resize(function () {
            // ref: https://stackoverflow.com/questions/23593514/google-visualization-chart-size-in-percentage
            var container = document.getElementById("@divName");
            chart.draw(dataTable, options);
        });


    });
</script>
